.container {
  height: 1.14vw;
}
.container label {
  font-size: 0.83vw;
  margin-left: 0.26vw;
}
@media (max-width: 768px) {
  .container {
    height: 10px;
  }
  .container label {
    font-size: 15px;
    margin-left: 5px;
  }
}
